<html>
<head>
    <title><%= INTL_TITLE %></title>
    <meta charset="utf-8">
    <meta id="meta-description" name="description" content="<%= INTL_META_DESCRIPTION %>">
    <meta id="meta-tags" name="tags" content="<%= INTL_META_TAGS %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
</head>

<style>
    .menu {
        position: absolute;
        top: 10%;
        left: 10%;
        right: 10%;
        background: #fff;
    }

    .menuentry {
        margin: 5px;
        padding: 5px;
        float: left;
        width: 45%;

    }

    .menuentry button {
    }

    body {
        margin: 0px;
    }

    button.active {
        background-color: black;
        color: white;
    }
</style>
<body>


<canvas id="canvas" style="backface-visibility: hidden"></canvas>

<div style="position: absolute; bottom: 0; left: 0;color: white" id="description">ASd</div>
<div style="position: absolute; bottom: 0; right: 0;color: white" id="fps">FPS</div>
<div style="position: absolute; top: 0; right: 0;color: white" id="fps">
    <button>menu</button>
</div>

<div class="menu">
    <h1>Fish Maker
        <button>Close menu</button>
    </h1>

    <div class="menuentry" id="menuScaleFactor">
        <span>ScaleFactor</span>
        <input type="text" value="0.25" data-param="scaleFactor"/>
        <button>0.25</button>
        <button>0.5</button>
        <button>1</button>
    </div>
    <div class="menuentry">
        <span>Calculation method</span>
        <input type="text" value="UI" data-param="calcMethod"/>
        <button>UI</button>
        <button>Interval</button>
        <button>Webworker</button>
    </div>
    <div class="menuentry">
        <span>Presets</span>
        <button>Stephan 1</button>
        <button>Stephan 2</button>
        <button>Empty</button>
    </div>

    <div class="menuentry">
        <span>Fish Start Count</span>
        <input type="text" value="1000" data-param="fishStartCount"/>
        <button>0</button>
        <button>1000</button>
        <button>2000</button>
    </div>
    <div class="menuentry">
        <span>Fish reproduction ticks</span>
        <input type="text" value="50" data-param="fishReproductionTicks"/>
        <button>10</button>
        <button>50</button>
        <button>100</button>
    </div>

    <div class="menuentry">
        <span>Shark Start Count</span>
        <input type="text" value="50" data-param="sharkStartCount"/>
        <button>0</button>
        <button>50</button>
        <button>100</button>
    </div>
    <div class="menuentry">
        <span>Shark energy</span>
        <input type="text" value="20" data-param="sharkEnergy"/>
        <button>10</button>
        <button>20</button>
        <button>50</button>
    </div>
    <div class="menuentry">
        <span>Shark reproduction ticks</span>
        <input type="text" value="10" data-param="sharkReproductionTicks"/>
        <button>5</button>
        <button>10</button>
        <button>20</button>
    </div>

</div>

</body>

</html>
