<html>
<head>
    <title><%= INTL_TITLE %></title>
    <meta charset="utf-8">
    <meta id="meta-description" name="description" content="<%= INTL_META_DESCRIPTION %>">
    <meta id="meta-tags" name="tags" content="<%= INTL_META_TAGS %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">
</head>

<body style="margin: 0px">

<canvas id="canvas" style="backface-visibility: hidden"></canvas>

<div style="position: absolute; bottom: 0; left: 0;color: white" id="description">ASd</div>
<div style="position: absolute; bottom: 0; right: 0;color: white" id="fps">FPS</div>

</body>

</html>
